In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('./naver_movie_review_1106_ExtremeJob.csv', encoding='euckr')
df1.head()

,title,link,score,review
0,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...
1,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,8,류승룡 드디어 심폐소생술 성공!
2,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,진짜 뻥안치고 ㅈㄴ 웃겼다
3,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,"계속 웃으면서 봤어요!""지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭..."
4,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,지금까지 이런 영화는 없었다 이것은 영화인가 통닭광고인가

In [4]:
df2 = pd.read_csv('./naver_movie_review_1106_Luckkey.csv', encoding='euckr')
df2.head()

,title,link,score,review
0,럭키,https://movie.naver.com/movie/bi/mi/pointWrite...,10,유해진이라는 배우가 실력이 없어서 조연의 역할을 맡는게 아니라는걸 여실하게 보여준 ...
1,럭키,https://movie.naver.com/movie/bi/mi/pointWrite...,9,최근 본 영화 중에 코믹 요소가 잘 맞았고 배우에 비해 재밌었는데 평점 왜이러죠??...
2,럭키,https://movie.naver.com/movie/bi/mi/pointWrite...,10,이혼위기로 우울했는데 잠시나마 잊게해준영화
3,럭키,https://movie.naver.com/movie/bi/mi/pointWrite...,10,대박 완전 신나게ㅋㅋ 진짜 빵빵터지는 영화ㅋ
4,럭키,https://movie.naver.com/movie/bi/mi/pointWrite...,10,엄마랑 보고왓는ㄷㅔ 웃다가 실신할 뻔 ㅋㅋㅋㅋ 엄마가 유해진 짱팬됨

In [5]:
df3 = pd.read_csv('./naver_movie_review_1106_ReturnOfTheMafia.csv', encoding='euckr')
df3.head()

,title,link,score,review
0,가문의 영광5 - 가문의 귀환,https://movie.naver.com/movie/bi/mi/pointWrite...,1,이제 정말 그만할 때가 아닐까요?
1,가문의 영광5 - 가문의 귀환,https://movie.naver.com/movie/bi/mi/pointWrite...,10,정말 내용이 첨부터끝까지 예상가능한 뻔하디뻔한 90년대 코메디영화! 2014년에 추...
2,가문의 영광5 - 가문의 귀환,https://movie.naver.com/movie/bi/mi/pointWrite...,1,보다가 영화가 너무 저질이고 더럽고 예측가능해서 중간에 나옴
3,가문의 영광5 - 가문의 귀환,https://movie.naver.com/movie/bi/mi/pointWrite...,9,"이 영화 속에 메세지가 담겨있지만 솔직히 시리어스하게 볼만한 영화는 아닌 거 같고,..."
4,가문의 영광5 - 가문의 귀환,https://movie.naver.com/movie/bi/mi/pointWrite...,8,아이돌들은 모르겠고 웃고 멍때리다 와인뚜껑에 쳐맞을때 나도모르게 뿜어버렸다 재미있었...

In [6]:
df4 = pd.read_csv('./naver_movie_review_1106_Ted.csv', encoding='euckr')
df4.head()

,title,link,score,review
0,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,아 정말ㅋㅋㅋㅋㅋ 이런 유머 너무 좋아요
1,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,죤나게재밌다.어린시절의 순수함을 가지고 성인이 됀사람이라면 무조건 추천
2,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,진짜웃김ㅋㅋㅋ곰인형이 주인공이랑 싸울때 바지벗기고 회초리로 엉덩이 때리는부분 짱 웃...
3,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,인간과 봉제곰의 격렬한 액션씬이 가장 인상에 남는 작품.
4,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,진짜ㅋㅋㅋㅋ굿

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47240 entries, 0 to 47239
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   47240 non-null  object
 1   link    47240 non-null  object
 2   score   47240 non-null  int64
 3   review  47240 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.4+ MB

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23340 entries, 0 to 23339
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   23340 non-null  object
 1   link    23340 non-null  object
 2   score   23340 non-null  int64
 3   review  23340 non-null  object
dtypes: int64(1), object(3)
memory usage: 729.5+ KB

In [13]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1970 entries, 0 to 1969
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1970 non-null   object
 1   link    1970 non-null   object
 2   score   1970 non-null   int64
 3   review  1970 non-null   object
dtypes: int64(1), object(3)
memory usage: 61.7+ KB

In [14]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1630 entries, 0 to 1629
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1630 non-null   object
 1   link    1630 non-null   object
 2   score   1630 non-null   int64
 3   review  1630 non-null   object
dtypes: int64(1), object(3)
memory usage: 51.1+ KB

In [16]:
len(df1) + len(df2) + len(df3) + len(df4)

74180

In [17]:
new_df = pd.concat([df1, df2, df3, df4])
new_df

,title,link,score,review
0,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...
1,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,8,류승룡 드디어 심폐소생술 성공!
2,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,진짜 뻥안치고 ㅈㄴ 웃겼다
3,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,"계속 웃으면서 봤어요!""지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭..."
4,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,지금까지 이런 영화는 없었다 이것은 영화인가 통닭광고인가
...,...,...,...,...
1625,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,이런영화 더없음?
1626,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,그냥 저렴한 B급 코미디일 줄 알았는데... 동화 느낌의 너무나 귀엽고 사랑스러운 ...
1627,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,재미당@
1628,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,세상엔 토이스토리같은 성장기가 있는 반면 이런 성장기도 있다. 토이스토리3의 35살판?
1629,19곰 테드,https://movie.naver.com/movie/bi/mi/pointWrite...,10,남자들의 로망과 우정에 대한 진지한 고찰 ㅋ 평점 천백만점도 아깝지 않음 짝짝짝

In [18]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74180 entries, 0 to 1629
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   74180 non-null  object
 1   link    74180 non-null  object
 2   score   74180 non-null  int64
 3   review  74180 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.8+ MB

In [20]:
new_df.to_csv('./naver_movie_review_1106_comedy.csv', encoding='euckr', index=False)