In [2]:
import pandas as pd

# 데이터 결측값 확인 & 제거

In [3]:
df = pd.read_csv('./naver_movie_review_1111_comedy.csv', encoding='euckr')
df.head(10)

,title,link,score,review
0,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...
1,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,8,류승룡 드디어 심폐소생술 성공!
2,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,진짜 뻥안치고 ㅈㄴ 웃겼다
3,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,"계속 웃으면서 봤어요!""지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭..."
4,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,지금까지 이런 영화는 없었다 이것은 영화인가 통닭광고인가
5,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,간만에 정치색 안띠고 마냥 한국식으로 웃긴 영화다~류승룡도 완전 찰지고ㅋ흥해라
6,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,8,아주그냥 진지한척 심오한척 메세지있는척 겉멋은잔뜩들고 막상 까보면 텅빈 영화들만 ...
7,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,류승룡 좀비설 너무 웃겼어여
8,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,마약반 형사들 각각 캐릭터가 확실했습니다. 겹치는 점도 없었고 조합도 너무 좋았습니...
9,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,완전 내스타일.. 류승룡 영화 요즘 말아먹더니 이번엔 대박 웃기네 ㅋㅋ역시 갓승룡

In [4]:
rev = pd.DataFrame(df['review'])
rev.head(10)

                                              review
0  일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...
1                                  류승룡 드디어 심폐소생술 성공!
2                                     진짜 뻥안치고 ㅈㄴ 웃겼다
3  계속 웃으면서 봤어요!"지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭...
4                   지금까지 이런 영화는 없었다  이것은 영화인가 통닭광고인가
5        간만에 정치색 안띠고 마냥 한국식으로 웃긴 영화다~류승룡도 완전 찰지고ㅋ흥해라
6  아주그냥  진지한척 심오한척 메세지있는척 겉멋은잔뜩들고 막상 까보면 텅빈 영화들만 ...
7                                    류승룡 좀비설 너무 웃겼어여
8  마약반 형사들 각각 캐릭터가 확실했습니다. 겹치는 점도 없었고 조합도 너무 좋았습니...
9      완전 내스타일.. 류승룡 영화 요즘 말아먹더니 이번엔 대박 웃기네 ㅋㅋ역시 갓승룡

In [5]:
rev.isnull().values.any()

True

In [6]:
rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74175 entries, 0 to 74174
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   review  73998 non-null  object
dtypes: object(1)
memory usage: 579.6+ KB

In [7]:
len(rev)

74175

In [8]:
rev = rev.dropna(axis=0)
rev

                                                  review
0      일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...
1                                      류승룡 드디어 심폐소생술 성공!
2                                         진짜 뻥안치고 ㅈㄴ 웃겼다
3      계속 웃으면서 봤어요!"지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭...
4                       지금까지 이런 영화는 없었다  이것은 영화인가 통닭광고인가
...                                                  ...
74170                                         장르불명OOO기영화
74171      ㅋㅋㅋㅋㅋ곰돌이가 즈질인데 너무 귀엽게 생겼음 ㅋㅋ 병맛느낌 나게 재미있음 ㅋㅋㅋ
74172  재밌어보여서 봤는데 보고나니 왜 평점이 낮은지 알겠다. 한번도 안웃었다. 감동도 재...
74173                                      어른들을 위한 1동화..
74174               이 유치한 영화가 웃기다는 애들은 뭐임?  중딩 이상 관람 금지.

[73998 rows x 1 columns]

In [9]:
rev = rev.reset_index(drop=True)
rev

                                                  review
0      일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...
1                                      류승룡 드디어 심폐소생술 성공!
2                                         진짜 뻥안치고 ㅈㄴ 웃겼다
3      계속 웃으면서 봤어요!"지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭...
4                       지금까지 이런 영화는 없었다  이것은 영화인가 통닭광고인가
...                                                  ...
73993                                         장르불명OOO기영화
73994      ㅋㅋㅋㅋㅋ곰돌이가 즈질인데 너무 귀엽게 생겼음 ㅋㅋ 병맛느낌 나게 재미있음 ㅋㅋㅋ
73995  재밌어보여서 봤는데 보고나니 왜 평점이 낮은지 알겠다. 한번도 안웃었다. 감동도 재...
73996                                      어른들을 위한 1동화..
73997               이 유치한 영화가 웃기다는 애들은 뭐임?  중딩 이상 관람 금지.

[73998 rows x 1 columns]

In [10]:
len(rev)

73998

# 데이터 중복 확인

In [11]:
rev.duplicated().values.any()

True

In [12]:
rev_dup = rev.loc[rev.duplicated()]
rev_dup

                                                  review
699      너무나 예측되는... 솔직히 저는 재미없었습니다. 어디서 웃길지 너무 예측되어서요..
719    남들이 개연성 등 여러 가지 따지면서 욕하는 영화도 아무것도 모르고 재밌게 보는 사...
851    남들이 개연성 등 여러 가지 따지면서 욕하는 영화도 아무것도 모르고 재밌게 보는 사...
1109                                       개노잼 ㅜㅜ진심 시간아깝
3012                              재밌긴 한데 1600만 갈정돈 아닌듯..
...                                                  ...
73689                                                  굳
73697                                                  굿
73713                                                재밌음
73744                                                 최악
73763                                                쓰레기

[586 rows x 1 columns]

In [17]:
rev['review'][73689]

'굳'

In [18]:
for i in range(1, len(rev)):
    if i != 73689:
        if rev['review'][i] == rev['review'][73689]:
            print('yes', i)

yes 71619
yes 72360
yes 72855
yes 72875

# 데이터 중복 제거

In [19]:
rev_without_dup = rev.drop_duplicates(['review'], keep='first')
rev_without_dup

                                                  review
0      일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...
1                                      류승룡 드디어 심폐소생술 성공!
2                                         진짜 뻥안치고 ㅈㄴ 웃겼다
3      계속 웃으면서 봤어요!"지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭...
4                       지금까지 이런 영화는 없었다  이것은 영화인가 통닭광고인가
...                                                  ...
73993                                         장르불명OOO기영화
73994      ㅋㅋㅋㅋㅋ곰돌이가 즈질인데 너무 귀엽게 생겼음 ㅋㅋ 병맛느낌 나게 재미있음 ㅋㅋㅋ
73995  재밌어보여서 봤는데 보고나니 왜 평점이 낮은지 알겠다. 한번도 안웃었다. 감동도 재...
73996                                      어른들을 위한 1동화..
73997               이 유치한 영화가 웃기다는 애들은 뭐임?  중딩 이상 관람 금지.

[73412 rows x 1 columns]

In [20]:
rev_without_dup.duplicated().values.any()

False