In [13]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv('./sentiment/all/all_movie.csv')
data.head()

,title,link,score,review,sentiment
0,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...,0.97671
1,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,8,류승룡 드디어 심폐소생술 성공,0.74820
2,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,진짜 뻥안치고 ㅈㄴ 웃겼다,0.91061
3,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,계속 웃으면서 봤어요지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭입니...,0.68138
4,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,지금까지 이런 영화는 없었다 이것은 영화인가 통닭광고인가,0.19145

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180073 entries, 0 to 180072
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   title      180073 non-null  object
 1   link       180073 non-null  object
 2   score      180073 non-null  int64
 3   review     180073 non-null  object
 4   sentiment  180073 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 6.9+ MB

# 감성 점수와 평점 사이 상관관계 (cosine similarity)

In [14]:
score_senti = data[['score', 'sentiment']]
score_senti

        score  sentiment
0          10    0.97671
1           8    0.74820
2          10    0.91061
3          10    0.68138
4          10    0.19145
...       ...        ...
180068      2    0.13013
180069      5    0.12017
180070      1    0.09625
180071      6    0.99745
180072      1    0.01658

[180073 rows x 2 columns]

In [15]:
score_senti['score'] = score_senti['score'] / 10
score_senti.head(10)

   score  sentiment
0    1.0    0.97671
1    0.8    0.74820
2    1.0    0.91061
3    1.0    0.68138
4    1.0    0.19145
5    1.0    0.98723
6    0.8    0.74198
7    1.0    0.53808
8    1.0    0.98998
9    1.0    0.98883

In [16]:
# 코사인 유사도. 1에 가까우면 유사함, 0에 가까우면 관련 없음, -1에 가까우면 음의 상관관계
cosine_similarity([score_senti['score']], [score_senti['sentiment']])

array([[0.92901427]])

코사인 유사도는 1에 가까울수록 유사도가 높다. 관람객 평점과 리뷰 감성점수의 코사인 유사도는 약 0.93으로 두 데이터는 매우 유사하다고 할 수 있다

즉, 관람객의 종합 평점평균 데이터는 믿을만 한 데이터이다

# 감성 점수 평균과 실제 관람객 평점 비교

### 코미디, 극한직업

In [17]:
comedy = pd.read_csv('./sentiment/comedy/movie_sentiment_1111_ExtremeJob.csv')
comedy.head()

,title,link,score,review,sentiment
0,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,일단 진선규님께 박수갈채도 부족함 진짜 연기를 다양하게 잘하셔서 놀랐어요 오랜만에 ...,0.97671
1,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,8,류승룡 드디어 심폐소생술 성공,0.74820
2,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,진짜 뻥안치고 ㅈㄴ 웃겼다,0.91061
3,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,계속 웃으면서 봤어요지금까지 이런맛은 없었다이것은 갈비인가 통닭인가수원왕갈비통닭입니...,0.68138
4,극한직업,https://movie.naver.com/movie/bi/mi/pointWrite...,10,지금까지 이런 영화는 없었다 이것은 영화인가 통닭광고인가,0.19145

In [18]:
comedy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47031 entries, 0 to 47030
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      47031 non-null  object
 1   link       47031 non-null  object
 2   score      47031 non-null  int64
 3   review     47031 non-null  object
 4   sentiment  47031 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.8+ MB

In [19]:
comedy_senti = pd.DataFrame(comedy['sentiment'])
comedy_senti.head(10)

   sentiment
0    0.97671
1    0.74820
2    0.91061
3    0.68138
4    0.19145
5    0.98723
6    0.74198
7    0.53808
8    0.98998
9    0.98883

In [20]:
np.mean(comedy_senti)

sentiment    0.716204
dtype: float64

* 극한직업 네티즌 평점 평균: 8.51
* 극한직업 리뷰 감성점수 평균: 7.16

### 판타지, 가디언즈 오브 갤럭시

In [22]:
fantasy = pd.read_csv('./sentiment/fantasy/movie_sentiment_1112_guardian.csv', encoding='euckr')
fantasy.head()

,title,link,score,review,sentiment
0,가디언즈오브갤럭시,https://movie.naver.com/movie/bi/mi/pointWrite...,10,난 오늘 퇴근하고 너구리를 분양받으러 가겠다,0.91007
1,가디언즈오브갤럭시,https://movie.naver.com/movie/bi/mi/pointWrite...,10,우리는그루트다 명대사입니다 추천영화,0.98510
2,가디언즈오브갤럭시,https://movie.naver.com/movie/bi/mi/pointWrite...,10,와 이번영화 장난없네요 마블 영화중 제일 재미있었던것같네요 지금 한국 대작영화들이 ...,0.99462
3,가디언즈오브갤럭시,https://movie.naver.com/movie/bi/mi/pointWrite...,10,말이 필요없음 마블에서 최초로 우주로나간 작품인데 대박임,0.99672
4,가디언즈오브갤럭시,https://movie.naver.com/movie/bi/mi/pointWrite...,10,마블영화중 갑 레알 꼭보세여ㅛ,0.93305

In [23]:
fantasy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7925 entries, 0 to 7924
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      7925 non-null   object
 1   link       7925 non-null   object
 2   score      7925 non-null   int64
 3   review     7925 non-null   object
 4   sentiment  7925 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 309.7+ KB

In [24]:
fantasy_senti = pd.DataFrame(fantasy['sentiment'])
fantasy_senti.head(10)

   sentiment
0    0.91007
1    0.98510
2    0.99462
3    0.99672
4    0.93305
5    0.95416
6    0.44376
7    0.42162
8    0.33009
9    0.99787

In [25]:
np.mean(fantasy_senti)

sentiment    0.773554
dtype: float64

* 가디언즈 오브 갤럭시 네티즌 평점 평균: 8.57
* 가디언즈 오브 갤럭시 리뷰 감성점수 평균: 7.74

### 호러, 랑종

In [26]:
horror = pd.read_csv('./sentiment/horror/movie_sentiment_1105_랑종.csv')
horror.head()

,title,link,score,review,sentiment
0,랑종,https://movie.naver.com/movie/point/af/list.na...,6,곡성 생각하고 봤지만 기대 이하 공포보다는 찝찝함이 더 큰 영화,0.01174
1,랑종,https://movie.naver.com/movie/point/af/list.na...,8,기괴하긴 하지만 태국의 샤머니즘 잘 보았다는 생각이 듭니다,0.85743
2,랑종,https://movie.naver.com/movie/point/af/list.na...,5,예고편이 가장 괜찮았던 영화,0.83910
3,랑종,https://movie.naver.com/movie/point/af/list.na...,5,굳이 다큐형식으로 찍을 필요가 장점 보다는 단점이 돋보이는 영화 끝까지 불편하고...,0.00695
4,랑종,https://movie.naver.com/movie/point/af/list.na...,10,이건아니야정말 아니야,0.14242

In [27]:
horror.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7829 entries, 0 to 7828
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      7829 non-null   object
 1   link       7829 non-null   object
 2   score      7829 non-null   int64
 3   review     7829 non-null   object
 4   sentiment  7829 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 305.9+ KB

In [28]:
horror_senti = pd.DataFrame(horror['sentiment'])
horror_senti.head(10)

   sentiment
0    0.01174
1    0.85743
2    0.83910
3    0.00695
4    0.14242
5    0.93156
6    0.25754
7    0.54639
8    0.03903
9    0.26861

In [29]:
np.mean(horror_senti)

sentiment    0.36156
dtype: float64

* 랑종 네티즌 평점 평균: 5.23
* 랑종 리뷰 감성점수 평균: 3.62

### 로맨스, 어바웃 타임

In [31]:
romance = pd.read_csv('./sentiment/romance/movie_sentiment_1111_About_Time.csv')
romance.head()

,title,link,score,review,sentiment
0,어바웃 타임,https://movie.naver.com/movie/bi/mi/pointWrite...,10,시간을 되돌릴 수 있다면 결과는 같다 씨네 이현경 스포성 전문가 평점 좀 없었으...,0.47227
1,어바웃 타임,https://movie.naver.com/movie/bi/mi/pointWrite...,10,가슴을 따뜻하게 해주는 정말 완전소중한 영화 ㅠㅠ,0.99611
2,어바웃 타임,https://movie.naver.com/movie/bi/mi/pointWrite...,10,아버지와 탁구시합 후 산책하러 가는장면에서 너무 많이울었네요 지금도 눈물이 살짝 고...,0.99850
3,어바웃 타임,https://movie.naver.com/movie/bi/mi/pointWrite...,10,재밋습니다 후회없습니다,0.96820
4,어바웃 타임,https://movie.naver.com/movie/bi/mi/pointWrite...,10,가슴 따뜻해지는 영화입니다 올겨울 강추,0.99830

In [32]:
romance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13371 entries, 0 to 13370
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      13371 non-null  object
 1   link       13371 non-null  object
 2   score      13371 non-null  int64
 3   review     13371 non-null  object
 4   sentiment  13371 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 522.4+ KB

In [33]:
romance_senti = pd.DataFrame(romance['sentiment'])
romance_senti.head(10)

   sentiment
0    0.47227
1    0.99611
2    0.99850
3    0.96820
4    0.99830
5    0.92383
6    0.99844
7    0.99698
8    0.99801
9    0.94315

In [34]:
np.mean(romance_senti)

sentiment    0.85571
dtype: float64

* 어바웃 타임 네티즌 평점 평균: 9.19
* 어바웃 타임 리뷰 감성점수 평균: 8.56

### 최근 영화, 이터널스

In [36]:
new = pd.read_csv('./sentiment/new/movie_sentiment_1124_Eternals.csv', encoding='euckr')
new.head()

,title,link,score,review,sentiment
0,이터널스,https://movie.naver.com/movie/bi/mi/pointWrite...,2,ㄹㅇ내가여태본 마블영화중 가장 재미없었다,0.01081
1,이터널스,https://movie.naver.com/movie/bi/mi/pointWrite...,1,히로시마 감성팔이 극혐,0.03851
2,이터널스,https://movie.naver.com/movie/bi/mi/pointWrite...,7,아주 다들 사랑꾼들이여,0.94702
3,이터널스,https://movie.naver.com/movie/bi/mi/pointWrite...,6,솔직히 나는 그들이 돌아오지 않았으면 좋겠다 영원히,0.74626
4,이터널스,https://movie.naver.com/movie/bi/mi/pointWrite...,1,한마디로 재미없음 머글들을 타겟층으로 했다기엔 액션이 매우 별로고 그렇다고 마블 덕...,0.02242

In [37]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9603 entries, 0 to 9602
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      9603 non-null   object
 1   link       9603 non-null   object
 2   score      9603 non-null   int64
 3   review     9603 non-null   object
 4   sentiment  9603 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 375.2+ KB

In [38]:
new_senti = pd.DataFrame(new['sentiment'])
new_senti.head(10)

   sentiment
0    0.01081
1    0.03851
2    0.94702
3    0.74626
4    0.02242
5    0.87522
6    0.06601
7    0.05254
8    0.03233
9    0.41337

In [39]:
np.mean(new_senti)

sentiment    0.405442
dtype: float64

* 이터널스 네티즌 평점 평균: 5.57
* 이터널스 리뷰 감성점수 평균: 4.05